<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	
	<project name="Project B">
    
		<webURL>http://localhost/ProjectB</webURL>
		
		<triggers>
			<intervalTrigger seconds="60" />
		</triggers>
		
		<modificationDelaySeconds>10</modificationDelaySeconds>
		
		<sourcecontrol type="svn">
			<executable>C:\SVN\bin\svn.exe</executable>
			<trunkUrl>https://projectb/svn/trunk</trunkUrl>
			<workingDirectory>C:\HTTP\SPT\ProjectB\Build</workingDirectory>
			<username>userb</username>
			<password>******</password>
		</sourcecontrol>
		
		<publishers>
			<xmllogger>
				<logDir>C:\HTTP\SPT\ProjectB\Logs</logDir>
			</xmllogger>
		</publishers>
		
		<tasks>
			<exec>
				<executable>C:\Windows\System32\robocopy.exe</executable>
				 <buildArgs>C:\HTTP\SPT\ProjectB\Build C:\HTTP\SPT\ProjectB\www *.* /E /XX /XA:H /XO /NDL /NC /NS /NP /XF "*.dll.r*" "*.dll.2*" "*.pdb.*" "*.txt" "*.cache" "*.cs" "*.sln" "*.msbuild" "*.csproj" "*.PDB" "*.user" "*.designer" /XD .svn code Code obj Properties</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,2,3</successExitCodes>
			</exec>

		</tasks>
	</project>
  
</cruisecontrol>