<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
   
  	<project name="Project C">
    
		<webURL>http://localhost/ProjectB</webURL>
		
		<triggers>
			<intervalTrigger name="BuildTrigger" seconds="60" initialSeconds="120" buildCondition="ForceBuild" />
		</triggers>
		
		<tasks>
			<!-- Update local working copy -->
			<exec executable="C:\SVN\bin\svn.exe">         
				<buildArgs>update "C:\HTTP\ProjectC"</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
			</exec>
			
		</tasks>
		
		<publishers>
			<xmllogger>
				<logDir>C:\HTTP\ProjectC\Logs</logDir>
			</xmllogger>
		</publishers>
		
	</project>
  
</cruisecontrol>
