<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
   
  	<project name="Project D">
    
		<webURL>http://localhost/ProjectD</webURL>
		
		<triggers>
			<intervalTrigger name="ProjectTrigger" seconds="30" initialSeconds="120" buildCondition="ForceBuild" />
		</triggers>
		
		<tasks>

			<nant>
			  <executable>C:\NAnt\nant-0.92-bin\nant-0.92\bin\nant.exe</executable>
			  <buildFile>C:\ProjectD.build</buildFile>
			  <buildArgs>build</buildArgs>
			</nant>

		</tasks>
		
		<publishers>
			<xmllogger>
				<logDir>C:\HTTP\ProjectD\Logs</logDir>
			</xmllogger>
		</publishers>
		
	</project>
  
</cruisecontrol>
