<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<project name="Project A">

		<webURL>http://localhost/ProjectA</webURL>

		<triggers>
			<intervalTrigger seconds="30" />
		</triggers>

		<modificationDelaySeconds>10</modificationDelaySeconds>

		<publishers>
			<xmllogger>
				<logDir>E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectXYZ\Logs</logDir>
			</xmllogger>
		</publishers>
		<tasks>
		
			<!-- 
			1. Copy configuration files from inetpub to a SVN working copy 
			   Configuration files are modified directly through the website, this is why we need this additional
			   step in order to have those files under version control as soon as possible.
			-->			
			<exec>
				<executable>C:\Windows\System32\robocopy.exe</executable>
				<buildArgs>"E:\inetpub\wwwroot\ProjectA\SPTProject\ConfigFiles" "E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA\SPTProject\ConfigFiles" *.config /E /XX /XA:H /XO /NDL /NC /NS /NP /XL</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,2,3</successExitCodes>
			</exec>
			
			<!-- 
			2. Copy master configuration file from inetpub to a SVN working copy 
			-->
			<exec>
				<executable>C:\Windows\System32\robocopy.exe</executable>
				<buildArgs>"E:\inetpub\wwwroot\ProjectA\SPTProject\ConfigFiles\Master" "E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA\SPTProject\ConfigFiles\Master" *.config /E /XX /XA:H /XO /NDL /NC /NS /NP /XL</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,2,3</successExitCodes>
			</exec>
			
			<!-- 
			3. Commit changes made to the configuration files 
			-->
			<exec executable="E:\Program Files (x86)\SVN\bin\svn.exe">         
				<buildArgs>commit "E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA\SPTProject\ConfigFiles\*.config" -m "Update configuration files modified through the GUI."</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
			</exec>
			
			<!-- 
			4. Commit changes made to the master configuration file 
			-->
			<exec executable="E:\Program Files (x86)\SVN\bin\svn.exe">         
				<buildArgs>commit "E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA\SPTProject\ConfigFiles\Master\*.config" -m "Update configuration files modified through the GUI."</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
			</exec>
			
			<!-- 
			5. Update local working copy
			-->	
			<exec executable="E:\Program Files (x86)\SVN\bin\svn.exe">         
				<buildArgs>update "E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA"</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
			</exec>
			
			<!-- 
			6. Copy checked out files to inetpub
			-->	
			<exec>
				<executable>C:\Windows\System32\robocopy.exe</executable>
				<buildArgs>"E:\Program Files (x86)\CruiseControl.NET\SVN_repositories\ProjectA" E:\Inetpub\wwwroot\ProjectA *.* /E /XX /XA:H /XO /NDL /NC /NS /NP /XF "*.dll.r*" "*.dll.2*" "*.pdb.*" "*.txt" "*.cache" "*.sln" "*.exe" "*.zip" "*.rar" "*.chm" "*.msbuild" "*.csproj" "*.PDB" "*.user" "*.designer" /XD .svn code Code obj Properties</buildArgs>
				<buildTimeoutSeconds>60</buildTimeoutSeconds>
				<successExitCodes>0,1,2,3</successExitCodes>
			</exec>
			
		</tasks>

	</project>
	
</cruisecontrol>